*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    /*  background:rgba(0, 0, 0, 0.8);*/

}
.pop{
    width: 700px;
    height: 490px;
    margin-top: 30px;
    margin-left: 25%;
    overflow: auto
}
#top{
    background-image: url("../../estilos/orfeo50/imagenes50/log.png");
    background-size: 100% 100%;
    width: 100%;
    height: 256px;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
}
#top div{
    height: 128px;
}
.rojo{
    background-color: #8f00004d;
}
.blanco{
    background-color: rgba(255, 255, 255, 0.54);
}

#top div div img {
    margin-top: 9px;
    position: relative;
    width: 75%;
    margin-left: 121%;
    z-index: 999;
    float: left;
}

/*proporciones logo orfeo*/
#logoEntidad {
    margin-left: -92% !important;
    margin-right: auto !important;
    margin-top: 7px !important;
    width: 249px !important;
}

#bot{
    width: 100%;
    height: 233px;
    background: #8f0000;
    border-radius: 0px 0 40px 40px;
}
.cuerpo{
    overflow: hidden;
    position: absolute;
    margin-left: 87px;
    padding: 2%;
    width: 700px;
    height: 256px;
}
.boton{
    width: 80%;
    display: inline-block;
    padding:4%;
    color: #fff;
    background-color:#9e9d9d;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
}
input{
    width: 80%;
    padding: 2%;
    border-radius: 50px;
}
.botones{
    background-color:#1A3F5E;
    width: 40%;
    padding: 2%;
    color: #fff;
    margin-left: 57px;
    font-size: 18px;
}

#krd , #drd{
    margin-top: 8px;
}
