.flotante{
    border-radius: 30px;
    background-color: #8f0000;
    width: 60%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 1.5%;
}
.flotanteMail{
    border-radius: 30px;
    background-color: #F9EDC3;
    width: 60%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 1.5%;
}
.flotante h2{
    padding: 3%;
    color: #fff;
}

body, h4{
    color: #000; 
}

.flotante img{
    display: inline-block;
    width: 75%;
    margin-top: 8px;
}

#imgOrfeo{
    background-color: #1C4056;;
    border-radius: 30px;
    height: 96px;
    width: 250px;
}
